[core]
editor = code --wait
autocrlf = input # convert all EOLs with lf when added to repo
# filemode = false # ignore file permission changes
fsmonitor = true
ignorecase = false

[user]
name = Ryan Norooz
email = ryan.norooz@gmail.com
username = RyanNorooz
# signingkey = asdfasdfasd # gpg signing key
# signingkey = C:\\Users\\ryan\\.ssh\\asdf.pub # path to ssh public key

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true

[init]
defaultBranch = main

[commit]
gpgsign = true

[gpg]
# program = C:\\Program Files (x86)\\gnupg\\bin\\gpg.exe # path to gpg program
format = ssh

[rebase]
autoStash = true
