[core]
	editor = code --wait
	autocrlf = input # convert all EOFs with lf when added to repo
	filemode = false # ignore file permission changes
[user]
	name = Ryan Norooz
	email = 58340667+RyanNorooz@users.noreply.github.com
	username = RyanNorooz
	# signingkey = [gpg-signing-key] # gpg signing key
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[gpg]
	program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe # path to gpg program
